@import "bower_components/bootstrap/less/bootstrap.less";
//@import "bower_components/bootstrap/less/theme.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "bower_components/font-awesome/fonts";

@import "bower_components/toastr/toastr.css";
@import "bower_components/jquery.gritter/css/jquery.gritter.css";

@import "components/css/animate.css";
@import "components/css/style.css";

/* Component LESS */
@import "partial/user/user.less";
@import "../../../../../../app/master/user/user.less";
@import "app/master/user/user.less";
@import "app/test/test.less";
@import "app/master/category/category.less";
@import "app/category/category-form/categoryForm.less";
@import "app/master/category/categoryForm.less";
@import "app/master/category/category-form/category-form.less";
@import "directive/file-upload/file-upload.less";
@import "app/blog/post/post.less";
@import "directive/ng-enter/ng-enter.less";
@import "app/blog/post-detail/post-detail.less";
@import "app/home/home.less";
@import "app/internal/sign-in/sign-in.less";
@import "app/internal/sign-up/sign-up.less";
@import "app/blog/league-timeline/league-timeline.less";
@import "app/master/country/country.less";
@import "app/master/country/country-form/country-form.less";
@import "app/troll/troll-creation/troll-creation.less";
@import "app/troll/troll-timeline/troll-timeline.less";
@import "app/troll/single-troll/single-troll.less";
@import "app/match/match.less";
@import "app/match/match-info/match-info.less";
@import "directive/overlay-loading/overlay-loading.less";
@import "app/post-to-facebook/post-to-facebook.less";
@import "app/match/match-info/match-comment-modal/match-comment-modal.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//	&.fade {
//		.transition(opacity .3s);
//	}
//	&.fade .modal-dialog {
//		.translate(0,0);
//	}
//}
