<div>
	<div class="modal-header">
		<button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Register your account</h4>
	</div>
	<div class="modal-body">
        <div class="row">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-3">User ID : </label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="user.UserUniqueId">
                        <div style="color:red;">{{validations['UserUniqueId']}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Full name : </label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="user.Username">
                        <div style="color:red;">{{validations['Username']}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Password : </label>

                    <div class="col-sm-8">
                        <input type="password" class="form-control" ng-model="user.Password">
                        <div style="color:red;">{{validations['Password']}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Email : </label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="user.Email">
                        <div style="color:red;">{{validations['Email']}}</div>
                    </div>
                </div>
            </form>
        </div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
		<button type="button" class="btn btn-primary" ng-click="onRegister()">Register</button>
	</div>
</div>
