<div class="col-md-12" ng-controller="TrollCreationCtrl">
    <div class="row">
        <div class="wrapper wrapper-content" style="padding-top: 0px;">
            <div class="container">
                <h1>Add New Troll</h1>
                <hr/>

                <div class="row show-grid">
                    <label>Title</label>

                    <div class="input-group" style="width:40%;">
                        <input type="text" class="form-control" ng-model="data.Title">
                    </div>
                </div>

                <div class="row show-grid">
                    <label>Image/Video</label>

                    <div class="input-group">
                        <div yk-file-uploader file-result="fileResult" pick-fn="onPickPicture(result)"></div>
                    </div>
                </div>

                <div class="row show-grid">
                    <div class="col-md-6">
                        <img ng-if="data.ContentUrl" ng-src="{{data.ContentUrl}}" style="width: 100%;" />
                    </div>
                </div>

                <hr>
                <div class="row show-grid">
                    <button class="btn btn-primary btn-lg" ng-click="onSavePost()"><i class="fa fa-save"></i>&nbsp;Publish
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
