<div class="col-md-12" ng-controller="LeagueCtrl">
    <div class="row">
        <div class="wrapper wrapper-content" style="padding-top: 0px;">
            <div class="container">
                <h1>League</h1>
                <hr/>
                <div class="pull-left">
                    <button class="btn btn-primary" type="button" ng-click="Fetch()">
                        <i class="fa fa-refresh"></i>
                    </button>
                    <button class="btn btn-primary" ng-click="onCreateNew()">
                        <i class="fa fa-user-plus"></i>Add New
                    </button>
                </div>
                <div class="pull-right form-inline">
                    <input type="text" class="form-control" placeholder="Search..." style="width: 200px;"
                           ng-model="SearchQuery.Search.Keyword">
                    <button class="btn btn-primary" type="button" ng-click="Fetch()"><i class="fa fa-search"></i>
                    </button>
                </div>
                <br style="clear: both;"/>
                <table class="table table-striped table-bordered table-hover dataTables-example"
                       style="margin-top: 10px;">
                    <thead>
                    <tr>
                        <th style="width: 10%"></th>
                        <th>League Code</th>
                        <th>League Label</th>
                        <th>Description</th>
                        <th>Country</th>
						<th>Cup Competition</th>
                        <th style="text-align: center;">League Logo</th>
                    </tr>
                    </thead>
                    <tbody ng-show="leagues.length == 0">
                    <tr>
                        <td colspan="20">
                            No league found in the system.
                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr ng-repeat="League in leagues">
                        <td style="text-align: center;">
                            <i class="fa fa-edit" style="cursor: pointer;" ng-click="onRowEdit(League)"></i>
                            <i class="fa fa-trash-o" style="margin-left: 10px; cursor: pointer;"
                               ng-click="onRowDelete(League)"></i>
							   
							<i class="fa fa-user" style="margin-left: 10px;" aria-hidden="true"
							   ng-click="onEditTopScorer(League)"></i>
                        </td>
                        <td>{{ League.LeagueCode }}</td>
                        <td>{{ League.LeagueLabel }}</td>
                        <td>{{ League.Description }}</td>
                        <td>{{ League.CountryLabel }}</td>
						<td>
							<div ng-show="League.IsCupCompetition == true">
								<i class="fa fa-check-circle fa-2x"></i>
							</div>
						</td>
                        <td style="text-align: center;">
                            <img ng-src="{{ League.LogoUrl }}" alt="Logo" style="width: 50px; height:50px;"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--<uib-pagination class="pagination-sm pull-right" total-items="SearchQuery.TotalData" ng-model="SearchQuery.Page" ng-change="onPageChanged(page)"></uib-pagination>-->
                <uib-pagination boundary-links="true" total-items="SearchQuery.TotalData" ng-model="SearchQuery.Page"
                                ng-change="onPageChanged()" class="pagination-sm pull-right" previous-text="&lsaquo;"
                                next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>

            </div>
        </div>
    </div>
</div>
