<div class="col-md-12" ng-controller="PostDetailCtrl">
    <div class="row" style="background-color: lightgrey">
        <div class="wrapper" style="padding-top: 0px;">
            <div class="container">
                <div class="col-md-4" style="padding-top: 5px; padding-bottom: 5px;">
                    <img ng-src="{{post.LeagueLogoUrl}}" style="height: 80px; margin-left: -15px;"/>
                    <label
                        style="font-weight: normal; margin-left: 10px; font-size: 2em; color: rgba(16, 12, 44, 1)">{{post.LeagueLabel}}</label>
                </div>
                <div class="col-md-8" style=" padding-top: 5px; padding-bottom: 5px;">
                    <div id="PostDetail1" ads-player
                        style="margin-left: 10%; width:94%; height: 80px; background-color: olivedrab; text-align: center;">
                        Advertisement here
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="wrapper wrapper-content" style="padding-top: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-9" style="padding-top: 1.5em;">
                        <div class="col-md-12">
                            <div class="row">
                                <label class="post-detail-title">{{post.Title}}</label>
                            </div>
                            <div class="row">
                                <label>
                                    <small class="text-muted">{{showDateTimeNewestPost(post.CreatedTime)}}</small>
                                    <small>|</small>
                                    <small style="color: orangered;">{{post.CategoryLabel}}</small>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <img class="row" style="width: 100%;" ng-src="{{post.PictureUrl}}"/>
                        </div>
                        <div class="col-md-12">
                            <div class="row" style="padding-top: 10px;">
                                <div class="col-md-2" style="border-right: 1px solid grey">
                                    <div class="post-count">{{post.Read}}</div>
                                    <p>Read</p>
                                </div>
                                <div class="col-md-2" style="border-right: 1px solid grey">
                                    <div class="post-count">{{post.Comments.length}}</div>
                                    <p>Comments</p>
                                </div>
                                <div class="col-md-2">
                                    <div class="post-count">52</div>
                                    <p>Share</p>
                                </div>
								<div class="col-md-2" ng-click="edit()" ng-show="isAdmin" style="cursor: pointer;">
									<div style="margin-top: 3px;">
										<i class="fa fa-pencil-square-o fa-2x"></i>
									</div>
								</div>
								<div class="col-md-2" ng-click="delete()" ng-show="isAdmin" style="cursor: pointer;">
									<i class="fa fa-trash fa-2x"></i>	
								</div>	
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-top: 20px; margin-left: -10px;">
                            <p ng-bind-html="post.Body"></p>
                        </div>
                        <hr>
                        <div class="col-md-12" style="padding-top: 1.5em; margin-left: -10px;">

                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Tags:</h5>
                                    <button class="btn btn-primary btn-xs" type="button" ng-repeat="tag in post.Tags"
                                            style="margin-right: 5px;">{{tag}}
                                    </button>
                                    <!--<button class="btn btn-primary btn-xs" type="button">Model</button>-->
                                    <!--<button class="btn btn-white btn-xs" type="button">Publishing</button>-->
                                </div>
                                <div class="col-md-6">
                                    <div class="small text-right">
                                        <h5>Stats:</h5>

                                        <div><i class="fa fa-comments-o"> </i> {{post.Comments.length}} comments</div>
                                        <i class="fa fa-eye"> </i> {{post.Read}} views
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-default" ng-click="onLikeTroll(post, $index)">
                                        <i class="fa fa-heart-o" ng-if="!isTrollLikedByMe(post)"></i>
                                        <i class="fa fa-heart" ng-if="isTrollLikedByMe(post)"></i>
                                        Like
                                    </button>
                                    <button class="btn btn-default" ng-click="postToFacebook(post)">Post on facebook</button>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 ng-if="post.Comments.length>0">{{post.Comments.length}} Comments:</h2>
                                    <h2 ng-if="!post.Comments.length>0">Comment:</h2>
                                    <div class="social-feed-box">
                                        <div class="social-avatar">
                                            <a href="#" class="pull-left">
                                                <img ng-if="user.UserAvatar" ng-src="{{user.UserAvatar}}"/>
                                                <img ng-if="!user.UserAvatar"
                                                     src=/Web/img/yk-football/default-avatar.png/>
                                            </a>

                                            <div class="media-body">
                                            <textarea class="form-control" style="margin-bottom: 1em;"
                                                      ng-model="filter.comment" ng-enter="onSaveComment()"
                                                      placeholder="Write comment..."
                                                      ng-if="isLogin"></textarea>

                                            <textarea class="form-control" style="margin-bottom: 1em;"
                                                      ng-model="filter.comment" ng-enter="onSaveComment()"
                                                      placeholder="Please login first before you write a comment..."
                                                      ng-if="!isLogin"
                                                      disabled></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="social-feed-box" ng-repeat="comment in post.Comments">
                                        <div class="social-avatar">
                                            <a href="#" class="pull-left">
                                                <img ng-if="comment.UserAvatar" ng-src="{{comment.UserAvatar}}"/>
                                                <img ng-if="!comment.UserAvatar"
                                                     src=/Web/img/yk-football/default-avatar.png/>
                                            </a>

                                            <div class="media-body">
                                                <a href="#">
                                                    {{comment.Username}}
                                                </a>
                                                <small class="text-muted">{{showDateTime(comment.CreatedTime)}}</small>
                                            </div>
                                        </div>
                                        <div class="social-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>{{comment.Content}}</p>
                                                </div>
                                                <div class="col-md-12" style="margin-bottom: 0.5em;">
                                                    <button class="btn btn-xs" ng-click="onReplyClicked($index, true)"
                                                            ng-if="!comment.isReplyClicked">Reply
                                                    </button>
                                                    <button class="btn btn-xs" ng-click="onReplyClicked($index, false)"
                                                            ng-if="comment.isReplyClicked">Cancel Reply
                                                    </button>

                                                    <span class="pull-right">
                                                        <span>{{comment.UpVotes}} <i class="fa fa-2x fa-thumbs-up"
                                                                                    style="color: green; cursor: pointer; margin-right: 1em;"
                                                                                    ng-click="onVote($index, comment.CommentId, true)"></i></span>
                                                        <span>{{comment.DownVotes}} <i class="fa fa-2x fa-thumbs-down"
                                                                                    style="color: red; cursor: pointer;"
                                                                                    ng-click="onVote($index, comment.CommentId, false)"></i></span>
                                                    </span>
                                                </div>
                                                <div class="row"></div>
                                                <div class="col-md"
                                                     style="width: 90%; margin-left: 7%; margin-right: 3%;">
                                                    <div class="social-feed-box" ng-repeat="reply in comment.Replies">
                                                        <div class="social-avatar">
                                                            <a href="#" class="pull-left">
                                                                <img ng-if="reply.UserAvatar"
                                                                     ng-src="{{reply.UserAvatar}}"/>
                                                                <img ng-if="!reply.UserAvatar"
                                                                     src=/Web/img/yk-football/default-avatar.png/>
                                                            </a>

                                                            <div class="media-body">
                                                                <a href="#">
                                                                    {{reply.Username}}
                                                                </a>
                                                                <small class="text-muted">
                                                                    {{showDateTime(reply.CreatedTime)}}
                                                                </small>
                                                            </div>
                                                        </div>
                                                        <div class="social-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <p>{{reply.Content}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="social-feed-box" ng-if="comment.isReplyClicked">
                                                        <div class="social-avatar">
                                                            <a href="#" class="pull-left">
                                                                <img ng-if="user.UserAvatar"
                                                                     ng-src="{{user.UserAvatar}}"/>
                                                                <img ng-if="!user.UserAvatar"
                                                                     src=/Web/img/yk-football/default-avatar.png/>
                                                            </a>

                                                            <div class="media-body">
                                                                <textarea class="form-control"
                                                                          style="margin-bottom: 1em;"
                                                                          ng-model="filter.reply"
                                                                          placeholder="Add a reply..."
                                                                          ng-enter="onSaveReply(comment)"
                                                                          ng-if="isLogin"></textarea>
                                                                <textarea class="form-control" style="margin-bottom: 1em;"
                                                                          ng-model="filter.reply"
                                                                          ng-enter="onSaveReply(comment)"
                                                                          placeholder="Please login first before you write a comment..."
                                                                          ng-if="!isLogin"
                                                                          disabled></textarea>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-top: 1.5em; margin-top: 5.2%;">
                        <div class="row">
                            <div id="PostDetail2" ads-player class="col-md-12" 
								 style="height: 360px; background-color: pink;">
                                Main Ads
                            </div>
                        </div>
                        <div class="row" style="padding-top: 1.5em;">
                            <div style= "width: 100%;">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title" style="background-color: #333">
                                        <h5 style="color: white;">Newest Articles</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div>
                                            <div class="feed-activity-list">
                                                <div class="feed-element" ng-repeat="np in newestPosts">
                                                    <a class="pull-left">
                                                        <img alt="image" style="width: 60px;"
                                                             ng-src="{{np.PictureUrl}}">
                                                    </a>

                                                    <div class="media-body ">
                                                        <p>{{np.Title}}</p>
                                                        <small class="text-muted">
                                                            {{showDateTimeNewestPost(np.CreatedTime)}}
                                                        </small>
                                                        <small>|</small>
                                                        <small style="color: orangered;">{{np.CategoryLabel}}</small>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 1.5em;">
                            <div id="PostDetail3" ads-player class="col-md-12" 
								 style="height: 280px; background-color: lightgreen;">
                                Main Ads
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


