<div>
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
        <h4 class="modal-title"></h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12"
                 style="background-image: url('/Web/img/yk-football/stadium-wallpaper.jpg');
                        height: 220px;">
                <div class="row" style="margin-top: 50px;">
                    <div class="col-md-4" style="padding-left: 50px;">
                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-xs" type="button" style="margin-top: 50px;">2 - 1</button>
                            </div>
                            <div class="col-md-10" style="text-align: center;">
                                <h1 style="font-weight: bold; color: white;">{{match.FootballlLocalTeamName}}</h1>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px;">
                            <div class="col-md-8" style="margin-left:20%; color: white; text-align: center;">
                                <div style="font-weight: bold;">History</div>
                                <div style="width:100%;">
                                    <div ng-repeat="s in localTeamStanding track by $index"
                                        style="width: 25px; height: 25px; border:1px solid white; border-radius: 5px; background-color: transparent; float: left; margin: 1px;">
                                        {{s}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="text-align: center;">
                        <div style="color: orangered; font-weight: bold; font-size: 1.5em;">{{ league.LeagueLabel }}
                        </div>
                        <div style="color: white;">{{ match.match_formatted_date }}</div>
                        <div class="row" style="text-align: center; padding-left: 70px; padding-top: 30px;">
                            <div
                                style="width: 50px; height: 50px; background-color: gray; float: left; border-radius: 10px; color: white; font-weight: bold; font-size: 30px;">
                                {{ match.LocalTeamScore }}
                            </div>
                            <div
                                style="width: 30px; height: 30px; background-color: white; float: left; border-radius: 50%; margin-top: 10px; font-weight: bold; font-size: 17px;">
                                {{getStatus(match.MatchStatus)}}
                            </div>
                            <div
                                style="width: 50px; height: 50px; background-color: gray; float: left; border-radius: 10px; color: white; font-weight: bold; font-size: 30px">
                                {{ match.VisitorTeamScore }}
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4" style="padding-right: 50px;">
                        <div class="row">
                            <div class="col-md-10" style="text-align: center;">
                                <h1 style="font-weight: bold; color: white;">{{match.FootballlLocalVisitorName}}</h1>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-xs" type="button" style="float: right;">L-30</button>
                                <br>
                                <br>
                                <button class="btn btn-xs" type="button"
                                        style="float: right; background-color: orangered; color: white;">3+50
                                </button>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px;">
                            <div class="col-md-8" style="margin-left:20%; color: white; text-align: center;">
                                <div style="font-weight: bold;">History</div>
                                <div style="width:100%;">
                                    <div ng-repeat="s in visitorTeamStanding track by $index"
                                        style="width: 25px; height: 25px; border:1px solid white; border-radius: 5px; background-color: transparent; float: left; margin: 1px;">
                                        {{s}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                </div>

            </div>
        </div>
        <div class="row" style="background-color: #1e2e3d; color: white;">
            <div class="col-md-8" style="margin-left: 15%;">
                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="5" style="text-align: center; color: orangered;">------ Other matches ------</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="m in otherMatches">
                        <td>{{getDate(m.MatchDateTime)}}</td>
                        <td>{{m.FootballlLocalTeamName}}</td>
                        <td>{{m.LocalTeamScore}} - {{m.VisitorTeamScore}}</td>
                        <td>{{m.FootballlLocalVisitorName}}</td>
                        <td>{{league.LeagueLabel}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr style="background-color: lightgrey;">
                    <th style="border-bottom: 2px solid orangered;">MATCH INFO</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="hasAddMatchCommentAcl">
                    <td>
                        <div>
                            <textarea ng-model="filter.comment" style="width: 840px; height: 60px;">

                            </textarea>
                        </div>
                        <button class="btn btn-primary" ng-click="onAddComment()">Add Comment</button>
                    </td>
                </tr>
                <tr ng-repeat="e in events">
                    <td style="width: 10%;">
                        <span style="color: orangered;">&raquo;</span>
                        min {{e.Minute}} <br>
                        {{e.Type}} - {{e.Result}} - {{e.Player}}
                    </td>
                </tr>
                <tr ng-repeat="c in listComments">
                    <td style="width: 10%;">
                        <span ng-if="hasAddMatchCommentAcl"><button class="btn btn-small" ng-click="onDeleteComment(match.MatchId, c.MatchCommentId)"><i class="fa fa-trash-o"></i></button></span>
                        <span style="color: orangered;">&raquo;</span>
                        {{ c.Comment }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
