<div class="col-md-12" ng-controller="SingleTrollCtrl">
    <div class="row" style="background-image: url('/Web/img/yk-football/Awesome-Football-Stadium-HD-Wallpapers.jpg');">
        <div class="wrapper wrapper-content" style="padding-top: 0px;">
            <div class="container">

                <div class="row" style="margin-top: 2em;">

                    <div class="col-md-1">
                        <div id="SingleTroll2" ads-player class="row" style="height: 50em; background-color: #ffeb80; margin-right: 5%;">

                        </div>
                    </div>
                    <div class="col-md-10">
                        <div id="SingleTroll1" ads-player class="row" style="height: 5em; background-color: #ffeb80; text-align: center;">

                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row"
                                     style="background-color: white; padding: 1em; margin-top: 1em;">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <label class="post-detail-title" ng-click="onOpenTroll(troll)"
                                                   style="color: #333; font-size: 1.5em; cursor: pointer;">{{troll.Title}}</label>
                                        </div>
                                        <div class="row">
                                            <label>
                                                <small class="text-muted">Posted By:</small>
                                                <small style="color: orangered;">{{troll.UserName}}</small>
                                                <small>,</small>
                                                <small class="text-muted">
                                                    {{dateService.formatCalendar(troll.CreatedTime)}}
                                                </small>
                                            </label>
                                        </div>
                                        <div class="row" style="height: 30em; background-color: blue">
                                            <img ng-src="{{troll.ContentUrl}}"
                                                 style="width: 100%; height: 100% !important;"/>
                                        </div>
                                        <div class="row">
                                            <label>
                                                <small class="text-muted">{{troll.UserLikes.length}} Likes</small>
                                                <small class="text-muted">-</small>
                                                <small class="text-muted">{{troll.Comments.length}} Comments</small>
                                                <small class="text-muted">-</small>
                                                <small class="text-muted">{{troll.Shares}} Share</small>
                                            </label>
                                        </div>
                                        <div class="row">
                                            <button class="btn btn-default" ng-click="onLikeTroll(troll, $index)">
                                                <i class="fa fa-heart-o" ng-if="!isTrollLikedByMe(troll)"></i>
                                                <i class="fa fa-heart" ng-if="isTrollLikedByMe(troll)"></i>
                                                Like
                                            </button>
                                            <button class="btn btn-default" ng-click="postToFacebook(troll)">Post on facebook</button>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h2 ng-if="troll.Comments.length>0">{{troll.Comments.length}}
                                                    Comments:</h2>

                                                <h2 ng-if="!troll.Comments.length>0">Comment:</h2>

                                                <div class="social-feed-box">
                                                    <div class="social-avatar">
                                                        <a href="#" class="pull-left">
                                                            <img ng-if="user.UserAvatar" ng-src="{{user.UserAvatar}}"/>
                                                            <img ng-if="!user.UserAvatar"
                                                                 src=/Web/img/yk-football/default-avatar.png/>
                                                        </a>

                                                        <div class="media-body">
                                            <textarea class="form-control" style="margin-bottom: 1em;"
                                                      ng-model="filter.comment" ng-enter="onSaveComment()"
                                                      placeholder="Write comment..."
                                                      ng-if="isLogin"></textarea>

                                            <textarea class="form-control" style="margin-bottom: 1em;"
                                                      ng-model="filter.comment" ng-enter="onSaveComment()"
                                                      placeholder="Please login first before you write a comment..."
                                                      ng-if="!isLogin"
                                                      disabled></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="social-feed-box" ng-repeat="comment in troll.Comments">
                                                    <div class="social-avatar">
                                                        <a href="#" class="pull-left">
                                                            <img ng-if="comment.UserAvatar"
                                                                 ng-src="{{comment.UserAvatar}}"/>
                                                            <img ng-if="!comment.UserAvatar"
                                                                 src=/Web/img/yk-football/default-avatar.png/>
                                                        </a>

                                                        <div class="media-body">
                                                            <a href="#">
                                                                {{comment.Username}}
                                                            </a>
                                                            <small class="text-muted">
                                                                {{dateService.formatCalendar(comment.CreatedTime)}}
                                                            </small>
                                                        </div>
                                                    </div>
                                                    <div class="social-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <p>{{comment.Content}}</p>
                                                            </div>
                                                            <div class="col-md-12" style="margin-bottom: 0.5em;">
                                                                <button class="btn btn-xs"
                                                                        ng-click="onReplyClicked($index, true)"
                                                                        ng-if="!comment.isReplyClicked">Reply
                                                                </button>
                                                                <button class="btn btn-xs"
                                                                        ng-click="onReplyClicked($index, false)"
                                                                        ng-if="comment.isReplyClicked">Cancel Reply
                                                                </button>

                                                    <span class="pull-right">
                                                        <span>{{comment.UpVotes}} <i class="fa fa-2x fa-thumbs-up"
                                                                                     style="color: green; cursor: pointer; margin-right: 1em;"
                                                                                     ng-click="onVote($index, comment.CommentId, true)"></i></span>
                                                        <span>{{comment.DownVotes}} <i class="fa fa-2x fa-thumbs-down"
                                                                                       style="color: red; cursor: pointer;"
                                                                                       ng-click="onVote($index, comment.CommentId, false)"></i></span>
                                                    </span>
                                                            </div>
                                                            <div class="row"></div>
                                                            <div class="col-md"
                                                                 style="width: 90%; margin-left: 7%; margin-right: 3%;">
                                                                <div class="social-feed-box"
                                                                     ng-repeat="reply in comment.Replies">
                                                                    <div class="social-avatar">
                                                                        <a href="#" class="pull-left">
                                                                            <img ng-if="reply.UserAvatar"
                                                                                 ng-src="{{reply.UserAvatar}}"/>
                                                                            <img ng-if="!reply.UserAvatar"
                                                                                 src=/Web/img/yk-football/default-avatar.png/>
                                                                        </a>

                                                                        <div class="media-body">
                                                                            <a href="#">
                                                                                {{reply.Username}}
                                                                            </a>
                                                                            <small class="text-muted">
                                                                                {{showDateTime(reply.CreatedTime)}}
                                                                            </small>
                                                                        </div>
                                                                    </div>
                                                                    <div class="social-body">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <p>{{reply.Content}}</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="social-feed-box"
                                                                     ng-if="comment.isReplyClicked">
                                                                    <div class="social-avatar">
                                                                        <a href="#" class="pull-left">
                                                                            <img ng-if="user.UserAvatar"
                                                                                 ng-src="{{user.UserAvatar}}"/>
                                                                            <img ng-if="!user.UserAvatar"
                                                                                 src=/Web/img/yk-football/default-avatar.png/>
                                                                        </a>

                                                                        <div class="media-body">
                                                                <textarea class="form-control"
                                                                          style="margin-bottom: 1em;"
                                                                          ng-model="filter.reply"
                                                                          placeholder="Add a reply..."
                                                                          ng-enter="onSaveReply(comment)"
                                                                          ng-if="isLogin"></textarea>
                                                                <textarea class="form-control"
                                                                          style="margin-bottom: 1em;"
                                                                          ng-model="filter.reply"
                                                                          ng-enter="onSaveReply(comment)"
                                                                          placeholder="Please login first before you write a comment..."
                                                                          ng-if="!isLogin"
                                                                          disabled></textarea>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div id="SingleTroll3" ads-player class="row" style="height: 50em; background-color: #ffeb80; margin-left: 5%;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
