<div>
	<div class="modal-header">
		<button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
		<h2 class="modal-title">Category</h2>
	</div>
	<div class="modal-body">
        <div class="row">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-3">Code : </label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="category.CategoryCode">
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Label : </label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="category.CategoryLabel">
                    </div>
                </div>
				<!--
                <div class="form-group">
                    <label class="control-label col-sm-3">Picture : </label>
                    <div class="col-sm-8">
                        <div style="width: 120px; height: 120px; border: 1px solid gray;">
                            <img ng-src="{{category.PictureUrl}}" style="width: inherit; height: inherit;"/>
                        </div>
                        <div yk-file-uploader file-result="fileResult" pick-fn="onPick(result)"></div>
                    </div>
                </div>
				-->
            </form>
        </div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
		<button type="button" class="btn btn-primary" ng-click="onSave()">Save changes</button>
	</div>
</div>
