
<div class="col-md-12" ng-controller="HomeCtrl">
    <div class="row" style="background-color: lightgrey">
        <!--<img src="/Web/img/yk-football/stadium-wallpaper.jpg" style="width: 100%; height: 30em;" />-->
        <div class="col-md-12"
             style="background-image:url('/Web/img/yk-football/stadium-wallpaper.jpg'); height: 25em;">
            <div class="wrapper" style="padding-top: 0px;">
                <div class="container">
				
				  <div class="navbar-header">

                    <button type="button" class="navbar-toggle hidden" data-toggle="collapse" data-target="#navbarCollapse">

                        <span class="sr-only">Toggle navigation</span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                    </button>

                 <!--   <a class="navbar-brand" href="#">Tutorial Republic</a>-->

                </div>

				
				
                    <div class="row">
                        <div class="col-md-6">
                            <div style="height: 20em; margin-top: 2em; margin-left: -15px;">
                                <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                                    <uib-slide ng-repeat="post in newestPosts track by $index" index="post.$index">
                                        <img ng-src="{{post.PictureUrl}}"
                                             ng-click="goToArticle(post.PostId)"
                                             style="height: 22em; margin:auto; cursor: pointer;">

                                        <div class="carousel-caption">
                                            <p ng-click="goToArticle(post.PostId)"; style="cursor: pointer; font-weight: bold;">{{post.Title}}</p>
                                        </div>
                                    </uib-slide>
                                </uib-carousel>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div style = "width: 50%; float: left;">
                                    <div class="ibox float-e-margins" style="margin-top: 2em;">
                                        <div class="ibox-title" style="background-color: orangered">
                                            <h5 style="color: white;">Popular Articles</h5>
                                        </div>
                                        <div class="ibox-content" style="background-color: rgba(70, 66, 66, 0.65)">
                                            <div>
                                                <div class="feed-activity-list" style="color: white;">
                                                    <div class="feed-element" ng-repeat="np in newestPosts"
                                                         ng-click="goToArticle(np.PostId)"
                                                         style="max-height: 4em; cursor: pointer">
                                                        <a class="pull-left">
                                                            <img alt="image" style="width: 50px;"
                                                                 ng-src="{{np.PictureUrl}}">
                                                        </a>

                                                        <div class="media-body ">
                                                            <p>{{np.Title}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style = "width: 43%; float: left; margin-left: 15px;">
                                    <div  id="Home1" ads-player style="margin-top: 2em; width: 100%; height: 21em; background-color: #ffeb80">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="wrapper wrapper-content" style="padding-top: 0px;">
            <div class="container">
                <div class="row" style="margin-top: 2em;">
                    <div class="col-md-9">
                        <div class="row">
                            <div id="Home2" ads-player style="width: 100%; height: 8em; background-color: #ffeb80; text-align: center;">
                                Advertise Here
                            </div>
                        </div>
                        <div class="row" style="margin-top: 1em;" ng-repeat="s in timeline.SectionOne">
                            <div class="col-md-12">
                                <div class="pull-left form-inline">
                                    <img ng-src="{{s.Country.LogoUrl}}" style="height: 3.5em; margin-bottom: 5px; margin-left: -15px; margin-right: 5px;"/>
                                    <label
                                        style="color: orangered; font-size: 1.5em;">{{s.Country.CountryLabel}}</label>

                                </div>
                                <div class="pull-right">
                                    <small style="cursor: pointer;" ng-click="goToNewsTimeline(s.Country.CountryId)">See All</small>
                                </div>
                            </div>
                            <div class="col-md-12 line-separator"></div>
                            <div class="row">
                                <div class="col-md-4" ng-repeat="post in s.Posts">
                                    <div class="feed-element" ng-click="goToArticle(post.PostId)"
                                         style="max-height: 6em; border-bottom: 1px solid #e7eaec; margin-top: 1em; cursor: pointer;">
                                        <a class="pull-left">
                                            <img alt="image" style="width: 60px; height: 60px;"
                                                 ng-src="{{post.PictureUrl}}">
                                        </a>

                                        <div class="media-body ">
                                            <label style="cursor: pointer;">{{post.Title}}</label>
                                            <small class="text-muted">
                                                {{dateService.formatDDMMMYYYY(post.CreatedTime)}}
                                            </small>
                                            <small>|</small>
                                            <small style="color: orangered;">{{post.CategoryLabel}}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 1em;">
                            <div id="Home3" ads-player style="width: 100%; height: 8em; background-color: #ffeb80; text-align: center;">
                                Advertise Here
                            </div>
                        </div>
                        <div class="row" style="margin-top: 1em;">
                            <div class="col-md-4" ng-repeat="s in timeline.SectionTwo">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-left form-inline">
                                             <img ng-src="{{s.Country.LogoUrl}}" style="height: 3.5em; margin-bottom: 5px; margin-left: -15px; margin-right: 5px;"/>
                                            <label style="color: orangered; font-size: 1.5em;">{{s.Country.CountryLabel}}</label>

                                        </div>
                                        <div class="pull-right">
                                             <small style="cursor: pointer;" ng-click="goToNewsTimeline(s.Country.CountryId)">See All</small>
                                        </div>
                                    </div>
                                    <div class="col-md-12 line-separator"></div>
                                    <div class="row">
                                        <div class="col-md-12" ng-repeat="post in s.Posts">
                                            <div class="feed-element" ng-click="goToArticle(post.PostId)"
                                                 style="max-height: 6em; border-bottom: 1px solid #e7eaec; margin-top: 1em; cursor: pointer;">
                                                <a class="pull-left">
                                                    <img alt="image" style="width: 60px; height: 60px;"
                                                         ng-src="{{post.PictureUrl}}">
                                                </a>

                                                <div class="media-body">
                                                    <label style="cursor: pointer;">{{post.Title}}</label>
                                                    <small class="text-muted">
                                                        {{dateService.formatDDMMMYYYY(post.CreatedTime)}}
                                                    </small>
                                                    <small>|</small>
                                                    <small style="color: orangered;">{{post.CategoryLabel}}
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 1em;">
                            <div  id="Home4" ads-player style="width: 100%; height: 8em; background-color: #ffeb80; text-align: center;">
                                Advertise Here
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
