<div>
	<div class="modal-header">
		<button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
		<h2 class="modal-title">Advertisment</h2>
	</div>
	<div class="modal-body">
        <div class="row">
            <div>
                <div style="float: left; width: 50%">
                    <div style="margin-left: 100px;">
                        <label class="control-label">Ad Image</label>
                        <div>
                            <div style="width: 120px; height: 120px; border: 1px solid gray;">
                                <img ng-src="{{ad.ImageUrl}}" s style="width: inherit; height: inherit;" />
                            </div>
                            <div style="margin-top: 5px;" yk-file-uploader file-result="fileResult" pick-fn="onPick(result)"></div>
                        </div>
                    </div>
                </div>
                <div style="float: left;">
                    <form class="form-horizontal">
                        <div>
                            <div style ="float: left; width: 100px;">
                                <label style="margin-top: 5px;">Ad Identifier : </label>
                            </div>
                            <div style="float:left;">
                                <input type="text" class="form-control" ng-model="ad.AdIdentifier">
                            </div>
                        </div>
                        <br style="clear: both;" />
                        <div style="margin-top: 10px;">
                            <div style="float: left; width: 100px;">
                                <label style="margin-top: 5px;">Location Page : </label>
                            </div>
                            <div style="float:left;">
                                <input type="text" class="form-control" ng-model="ad.LocationPage">
                            </div>
                        </div>
                        <br style="clear: both;" />
						<div style="margin-top: 10px;">
                            <div style="float: left; width: 100px;">
                                <label style="margin-top: 5px;">Width (em) : </label>
                            </div>
                            <div style="float:left;">
                                <input type="text" class="form-control" ng-model="ad.Width" />
                            </div>
                        </div>
                        <br style="clear: both;" />
						<div style="margin-top: 10px;">
                            <div style="float: left; width: 100px;">
                                <label style="margin-top: 5px;">Height (em) : </label>
                            </div>
                            <div style="float:left;">
                                <input type="text" class="form-control" ng-model="ad.Height" />
                            </div>
                        </div>
                        <br style="clear: both;" />
                    </form>
                </div>
            </div>
        </div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
		<button type="button" class="btn btn-primary" ng-click="onSave()">Save changes</button>
	</div>
</div>
