<div class="col-md-12" ng-controller="CategoryCtrl">
    <div class="row">
        <div class="wrapper wrapper-content" style="padding-top: 0px;">
            <div class="container">
                <h1>Category</h1>
                <hr/>
                <div class="pull-left">
                    <button class="btn btn-primary" type="button" ng-click="Fetch()">
                        <i class="fa fa-refresh"></i>
                    </button>
                    <button class="btn btn-primary" ng-click="onCreateNew()">
                        <i class="fa fa-user-plus"></i>Add New
                    </button>
                </div>
                <div class="pull-right form-inline">
                    <input type="text" class="form-control" placeholder="Search..." style="width: 200px;"
                           ng-model="SearchQuery.Search.Keyword">
                    <button class="btn btn-primary" type="button" ng-click="Fetch()"><i class="fa fa-search"></i>
                    </button>
                </div>
                <br style="clear: both;"/>
                <table class="table table-striped table-bordered table-hover dataTables-example"
                       style="margin-top: 10px;">
                    <thead>
                    <tr>
                        <th style="width: 10%"></th>
                        <th>Category Code</th>
                        <th>Category Label</th>
                    </tr>
                    </thead>
                    <tbody ng-show="categories.length == 0">
                    <tr>
                        <td colspan="20">
                            No category found in the system.
                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr ng-repeat="cat in categories">
                        <td style="text-align: center;">
                            <i class="fa fa-edit" style="cursor: pointer;" ng-click="onRowEdit(cat)"></i>
                            <i class="fa fa-trash-o" style="margin-left: 10px; cursor: pointer;"
                               ng-click="onRowDelete(cat)"></i>
                        </td>
                        <td>{{ cat.CategoryCode }}</td>
                        <td>{{ cat.CategoryLabel }}</td>
                    </tr>
                    </tbody>
                </table>
                <!--<uib-pagination class="pagination-sm pull-right" total-items="SearchQuery.TotalData" ng-model="SearchQuery.Page" ng-change="onPageChanged(page)"></uib-pagination>-->
                <uib-pagination boundary-links="true" total-items="SearchQuery.TotalData" ng-model="SearchQuery.Page"
                                ng-change="onPageChanged()" class="pagination-sm pull-right" previous-text="&lsaquo;"
                                next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>

            </div>
        </div>
    </div>
</div>

