<div>
	<div class="modal-header">
		<button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Please enter your caption here</h4>
	</div>
	<div class="modal-body">
		<div class="row">
            <div class="col-md-12">
                <textarea style="width: 100%; height: 100px;"
                            ng-model=filter.message>

                </textarea>
            </div>
        </div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
		<button type="button" class="btn btn-primary" ng-click="onPost()">Post</button>
	</div>
</div>
