<div class="col-md-12" ng-controller="MatchCtrl">
    <div class="row" style="background-color: lightgrey">
        <div class="wrapper" style="padding-top: 0px;">
            <div class="container">
                <div class="col-md-4" style="padding-top: 5px; padding-bottom: 5px;">
                    <img ng-src="{{post.LeagueLogoUrl}}" style="height: 80px;"/>
                    <label
                        style="font-weight: normal; font-size: 2em; color: rgba(16, 12, 44, 1)">{{post.LeagueLabel}}</label>
                </div>
                <div class="col-md-8" style=" padding-top: 5px; padding-bottom: 5px;">
                    <div id="Match1" ads-player
                         style="margin-left: 10%; width:94%; height: 80px; background-color: olivedrab; text-align: center;">
                        Advertisement here
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="wrapper wrapper-content" style="padding-top: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-9" style="padding-top: 1.5em;">

                        <div class="row" style="padding-bottom: 1em;">
                            <div class="col-md-3">
                                <div class="input-group bootstrap-touchspin">
                                    <span class="input-group-btn">
                                        <button class="btn btn-white bootstrap-touchspin-down" type="button" ng-click="minusDate()">-</button>
                                    </span>
                                    <span class="input-group-addon bootstrap-touchspin-prefix"
                                          style="display: none;"></span>
                                    <input class="touchspin1 form-control" type="text" value="{{displayDate(filter.date)}}" name="demo1"
                                           style="display: block;" disabled>
                                    <span class="input-group-addon bootstrap-touchspin-postfix"
                                          style="display: none;"></span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-white bootstrap-touchspin-up" type="button" ng-click="addDate()">+</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover" ng-repeat="l in listCompetitions">
                                    <thead>
                                    <tr style="background-color: lightgrey;">
                                        <th colspan="8" style="border-bottom: 2px solid orangered;">{{l.LeagueLabel}}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-if="l.Matches.length==0">
                                        <td colspan="8">No match found for this date</td>
                                    </tr>
                                    <tr ng-repeat="m in l.Matches">
                                        <td style="width: 10%;">{{getDate(m.MatchDateTime)}}<br>{{getTime(m.MatchDateTime)}}
                                        </td>
                                        <td style="width: 10%;">
                                            <button class="btn btn-xs" type="button">x - x</button>
                                        </td>
                                        <td style="text-align: right; width: 20%;">{{m.FootballlLocalTeamName}}

                                        </td>
                                        <td style="width: 10%; text-align: center;"><span style="font-weight: bold;">{{m.LocalTeamScore}}</span>
                                            <span style="padding-left: 10px; padding-right: 10px;">{{getStatus(m.MatchStatus)}}</span>
                                            <span style="font-weight: bold;">{{m.VisitorTeamScore}}</span></td>
                                        <td style="width: 20%;">{{m.FootballlLocalVisitorName}}
                                        </td>
                                        <td style="width: 10%;">
                                            <button class="btn btn-xs" type="button">L-30</button>
                                        </td>
                                        <td style="width: 10%;">
                                            <button class="btn btn-default btn-xs" style="border: 1px solid orangered;"
                                                    type="button">3+50
                                            </button>
                                        </td>
                                        <td style="width: 10%; color: orangered;">
                                            <span style="cursor: pointer;"
                                                  ng-click="onOpenMatchInfo(m, l)">Match Info</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3" style="padding-top: 1.5em;">
                        <div class="row">
                            <div id="Match2" ads-player class="col-md-12"
                                 style="height: 360px; background-color: pink;">
                                Main Ads
                            </div>
                        </div>
                        <div class="row" style="padding-top: 1.5em;">
                              <!-- <div class="ibox float-e-margins" style="width: 100%;">
                                <div class="ibox-title" style="background-color: #333">
                                    <h5 style="color: white;">Newest Articles</h5>
                                </div>
                                <div class="ibox-content">
                                        <div>
                                            <div class="feed-activity-list">
                                                <div class="feed-element" ng-repeat="np in newestPosts">
                                                    <a class="pull-left">
                                                        <img alt="image" style="width: 60px;"
                                                             ng-src="{{np.PictureUrl}}">
                                                    </a>

                                                    <div class="media-body ">
                                                        <p>{{np.Title}}</p>
                                                        <small class="text-muted">
                                                            {{showDateTimeNewestPost(np.CreatedTime)}}
                                                        </small>
                                                        <small>|</small>
                                                        <small style="color: orangered;">{{np.CategoryLabel}}</small>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div> -->
								 <div class="ibox float-e-margins" style="width: 100%;">
                                    <div class="ibox-title" style="background-color: #333">
                                        <h5 style="color: white;">League Table</h5>
                                    </div>
									<div>
										  <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
											<li ng-repeat="league in leagues">
											  ssss
											</li>
										  </ul>
									</div>
                                    <div class="ibox-content">
										<div>
											  <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
												<li ng-repeat="league in leagues">
												  {{league.LeagueLabel}}
												</li>
											  </ul>
										</div>
                                    <div>
                                        <div class="feed-activity-list">
                                            <div class="feed-element" ng-repeat="np in newestPosts">
                                                <a class="pull-left">
                                                    <img alt="image" style="width: 60px;"
                                                         ng-src="{{np.PictureUrl}}">
                                                </a>

                                                <div class="media-body ">
                                                    <p>{{np.Title}}</p>
                                                    <small class="text-muted">
                                                        {{showDateTimeNewestPost(np.CreatedTime)}}
                                                    </small>
                                                    <small>|</small>
                                                    <small style="color: orangered;">{{np.CategoryLabel}}</small>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 1.5em;">
                            <div id="Match3" ads-player class="col-md-12"
                                 style="height: 280px; background-color: lightgreen;">
                                Main Ads
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
