<div>
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
        <h2 class="modal-title">League</h2>
    </div>
    <div class="modal-body">
        <div class="row">
            <div>
                <div style="float: left; width: 50%">
                    <div style="margin-left: 100px;">
                        <label class="control-label">League Logo</label>

                        <div>
                            <div style="width: 120px; height: 120px; border: 1px solid gray;">
                                <img ng-src="{{league.LogoUrl}}" s style="width: inherit; height: inherit;"/>
                            </div>
                            <div style="margin-top: 5px;" yk-file-uploader file-result="fileResult"
                                 pick-fn="onPick(result)"></div>
                        </div>
                    </div>
                </div>
                <div style="float: left;">
                    <form class="form-horizontal">
                        <div>
                            <div style="float: left; width: 100px;">
                                <label style="margin-top: 5px;">League Code : </label>
                            </div>
                            <div style="float:left;">
                                <input type="text" class="form-control" ng-model="league.LeagueCode">
                            </div>
                        </div>
                        <br style="clear: both;"/>

                        <div style="margin-top: 10px;">
                            <div style="float: left; width: 100px;">
                                <label style="margin-top: 5px;">League Label : </label>
                            </div>
                            <div style="float:left;">
                                <input type="text" class="form-control" ng-model="league.LeagueLabel">
                            </div>
                        </div>
                        <br style="clear: both;"/>

                        <div style="margin-top: 10px;">
                            <div style="float: left; width: 100px;">
                                <label style="margin-top: 5px;">Country : </label>
                            </div>
                            <div style="float:left;">
                                <select class="form-control"
                                        ng-options="c.CountryId as c.CountryLabel for c in countries"
                                        ng-model="league.CountryId">
                                    <option value="">-- Select Country --</option>
                                </select>
                            </div>
                        </div>
                        <br style="clear: both;"/>
						
						<div style="margin-top: 10px;">
                            <div style="float: left; width: 100px;">
                                <label style="margin-top: 5px;">Cup Competition : </label>
                            </div>
                            <div style="float:left;">
                                <input type="checkbox" style="margin-left: 2px; margin-top: 9px;"
                                       ng-model="league.IsCupCompetition">
                            </div>
                        </div>
                        <br style="clear: both;"/>

                        <div style="margin-top: 10px;">
                            <div style="float: left; width: 100px;">
                                <label style="margin-top: 5px;">Description : </label>
                            </div>
                            <div style="float:left;">
                                <textarea rows="4" class="form-control" ng-model="league.Description"/>
                            </div>
                        </div>

                        <br style="clear: both;"/>

                        <div style="margin-top: 10px;">
                            <div style="float: left; width: 100px;">
                                <label style="margin-top: 5px;">Football API Id : </label>
                            </div>
                            <div style="float:left;">
                                <input type="text" class="form-control" ng-model="league.FootballApiId">
                            </div>
                        </div>
                        <br style="clear: both;"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="onSave()">Save changes</button>
    </div>
</div>
