<div>
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
        <h2 class="modal-title">Team</h2>
    </div>
    <div class="modal-body">
        <div class="row">
            <div>
                <div style="float: left; width: 50%">
                    <div style="margin-left: 100px;">
                        <label class="control-label">Team Logo</label>

                        <div>
                            <div style="width: 120px; height: 120px; border: 1px solid gray;">
                                <img ng-src="{{team.LogoUrl}}" s style="width: inherit; height: inherit;"/>
                            </div>
                            <div style="margin-top: 5px;" yk-file-uploader file-result="fileResult"
                                 pick-fn="onPick(result)"></div>
                        </div>
                    </div>
                </div>
                <div style="float: left;">
                    <form class="form-horizontal">
                        <div>
                            <div style="float: left; width: 100px;">
                                <label style="margin-top: 5px;">Team Code : </label>
                            </div>
                            <div style="float:left;">
                                <input type="text" class="form-control" ng-model="team.TeamCode">
                            </div>
                        </div>
                        <br style="clear: both;"/>

                        <div style="margin-top: 10px;">
                            <div style="float: left; width: 100px;">
                                <label style="margin-top: 5px;">Team Label : </label>
                            </div>
                            <div style="float:left;">
                                <input type="text" class="form-control" ng-model="team.TeamLabel">
                            </div>
                        </div>
                        <br style="clear: both;"/>

                        <div style="margin-top: 10px;">
                            <div style="float: left; width: 100px;">
                                <label style="margin-top: 5px;">Description : </label>
                            </div>
                            <div style="float:left;">
                                <textarea rows="4" class="form-control" ng-model="team.Description"/>
                            </div>
                        </div>
                        <br style="clear: both;"/>

                        <div style="margin-top: 10px;">
                            <div style="float: left; width: 100px;">
                                <label style="margin-top: 5px;">League : </label>
                            </div>
                            <div style="float:left;">
                                <select ng-options="c.LeagueId as c.LeagueLabel for c in leagues"
                                        ng-model="team.LeagueId" style="width: 200px; height: 35px;">
                                    <option value="">--Select League--</option>
                                </select>
                            </div>
                        </div>
                        <br style="clear: both;"/>

                        <div style="margin-top: 10px;">
                            <div style="float: left; width: 100px;">
                                <label style="margin-top: 5px;">Show In Menu : </label>
                            </div>
                            <div style="float:left;">
                                <input type="checkbox" style="margin-left: 2px; margin-top: 9px;"
                                       ng-model="team.ShowInMenu">
                            </div>
                        </div>
                        <br style="clear: both;"/>

                        <div style="margin-top: 10px;">
                            <div style="float: left; width: 100px;">
                                <label style="margin-top: 5px;">Football API Id : </label>
                            </div>
                            <div style="float:left;">
                                <input type="text" class="form-control" ng-model="team.FootballApiId">
                            </div>
                        </div>
                        <br style="clear: both;"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="onSave()">Save changes</button>
    </div>
</div>
