<div class="col-md-12 darkblue-bg" ng-controller="TrollTimelineCtrl">
    <div class="row" style="background-image: url('/Web/img/yk-football/Awesome-Football-Stadium-HD-Wallpapers.jpg'); background-repeat: no-repeat;">
        <div class="wrapper wrapper-content" style="padding-top: 0px;">
            <div class="container">

                <div class="row" style="margin-top: 2em;">

                    <div class="col-md-1">
                        <div id="TrollTimeline2" ads-player class="row" style="height: 50em; background-color: #ffeb80; margin-right: 5%;">

                        </div>
                    </div>
                    <div class="col-md-10">
                        <div id="TrollTimeline1" ads-player class="row" style="height: 5em; background-color: #ffeb80; text-align: center;">

                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row"
                                     ng-repeat="troll in trolls"
                                     style="background-color: white; padding: 1em; margin-top: 1em;">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <label class="post-detail-title" ng-click="onOpenTroll(troll)"
                                                   style="color: #333; font-size: 1.5em; cursor: pointer;">{{troll.Title}}</label>
                                        </div>
                                        <div class="row">
                                            <label>
                                                <small class="text-muted">Posted By:</small>
                                                <small style="color: orangered;">{{troll.UserName}}</small>
                                                <small>,</small>
                                                <small class="text-muted">
                                                    {{dateService.formatCalendar(troll.CreatedTime)}}
                                                </small>
                                            </label>
                                        </div>
                                        <div class="row" style="height: 30em; background-color: blue">
                                            <img ng-src="{{troll.ContentUrl}}"
                                                 ng-click="onOpenTroll(troll)"
                                                 style="width: 100%; height: 100% !important; cursor:pointer;"/>
                                        </div>
                                        <div class="row">
                                            <label>
                                                <small class="text-muted">{{troll.UserLikes.length}} Likes</small>
                                                <small class="text-muted">-</small>
                                                <small class="text-muted">{{troll.Comments.length}} Comments</small>
                                                <small class="text-muted">-</small>
                                                <small class="text-muted">{{troll.Shares}} Share</small>
                                            </label>
                                        </div>
                                        <div class="row">
                                            <button class="btn btn-default" ng-click="onLikeTroll(troll, $index)">
                                                <i class="fa fa-heart-o" ng-if="!isTrollLikedByMe(troll)"></i>
                                                <i class="fa fa-heart" ng-if="isTrollLikedByMe(troll)"></i>
                                                Like
                                            </button>
                                            <button class="btn btn-default" ng-click="postToFacebook(troll)">Post on facebook</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div style="float: right; width: 31%;">
                                <div class="row" style="margin-top: 1em">
                                    <div class="col-md-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title" style="background-color: #333">
                                                <h5 style="color: white;">Top 5 Trolls</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <div>
                                                    <div class="feed-activity-list">
                                                        <div class="feed-element ng-scope"
                                                             ng-repeat="troll in topTrolls"
                                                             ng-click="onOpenTroll(troll)"
                                                            style="cursor: pointer;">
                                                            <a class="pull-left">
                                                                <img alt="image" style="width: 60px;"
                                                                     ng-src="{{troll.ContentUrl}}">
                                                            </a>

                                                            <div class="media-body ">
                                                                <p class="ng-binding">{{troll.Title}}</p>
                                                                <small>By: </small>
                                                                <small style="color: orangered;" class="ng-binding">
                                                                    {{troll.UserName}}
                                                                </small>
                                                                <div>
                                                                    <i class="fa fa-heart"></i>
                                                                    <small>{{troll.UserLikes.length}}</small>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div id="TrollTimeline3" ads-player
						class="row" style="height: 50em; background-color: #ffeb80; margin-left: 5%;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
