<div class="col-md-12" ng-controller="LeagueTimelineCtrl">
    <div class="row" style="background-color: lightgrey">
        <!--<img src="/Web/img/yk-football/stadium-wallpaper.jpg" style="width: 100%; height: 30em;" />-->
        <div class="col-md-12"
             style="background-color: gray;">
            <div class="wrapper" style="padding-top: 0px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4" style="padding-top: 5px; padding-bottom: 5px;">
                            <img ng-src="{{league.LogoUrl}}" style="height: 80px; margin-left: -15px;"/>
                            <label style="font-weight: normal; margin-left: 10px; font-size: 2em; color: rgba(16, 12, 44, 1)">{{league.LeagueLabel}}</label>
                        </div>
                        <div class="col-md-8" style=" padding-top: 5px; padding-bottom: 5px;">
                            <div id="LeagueTimeline1" ads-player
                                style="margin-left: 10%; width:94%; width:90%; height: 80px; background-color: #ffeb80; text-align: center;">
                                Advertisement here
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="wrapper wrapper-content" style="padding-top: 0px;">
            <div class="container">
                <div class="row" style="margin-top: 2em;">
                    <div class="col-md-9">
                        <div class="row" ng-repeat="post in postSectionOne">
                            <div class="col-md-4" style="padding-bottom: 1em; padding-top: 1em;">
                                <img ng-src="{{post.PictureUrl}}" style="width: 90%;">
                            </div>
                            <div class="col-md-8" style="padding-bottom: 1em;">
                                <div class="row">
                                    <label class="post-detail-title" style="font-size: 1.5em; cursor: pointer;" ng-click="goToArticle(post.PostId)">{{post.Title}}</label>
                                </div>
                                <div class="row">
                                    <label>
                                        <small class="text-muted">{{dateService.formatDDMMMYYYY(post.CreatedTime)}}</small>
                                        <small>|</small>
                                        <small style="color: orangered;">{{post.CategoryLabel}}</small>
                                    </label>
                                </div>
                                <div class="row">
                                    {{getPreviewArticleContent(post.Body)}}
                                </div>
                            </div>
                            <div class="col-md-12" style="background-color: lightgrey; height: 0.15em;"></div>
                        </div>
                        <div class="row" style="margin-top: 1em;">
                            <div id="LeagueTimeline2" ads-player
								 style="width: 100%; height: 8em; background-color: #ffeb80; text-align: center;">
                                Advertise Here
                            </div>
                        </div>
                        <div class="row" ng-repeat="post in postSectionTwo">
                            <div class="col-md-4" style="padding-bottom: 1em; padding-top: 1em;">
                                <img ng-src="{{post.PictureUrl}}" style="width: 90%;">
                            </div>
                            <div class="col-md-8" style="padding-bottom: 1em;">
                                <div class="row">
                                    <label class="post-detail-title" style="font-size: 1.5em; cursor: pointer;" ng-click="goToArticle(post.PostId)">{{post.Title}}</label>
                                </div>
                                <div class="row">
                                    <label>
                                        <small class="text-muted">{{dateService.formatDDMMMYYYY(post.CreatedTime)}}</small>
                                        <small>|</small>
                                        <small style="color: orangered;">{{post.CategoryLabel}}</small>
                                    </label>
                                </div>
                                <div class="row">
                                    {{getPreviewArticleContent(post.Body)}}
                                </div>
                            </div>
                            <div class="col-md-12" style="background-color: lightgrey; height: 0.15em;"></div>
                        </div>
                        <div class="row" style="margin-top: 1em;">
                            <div id="LeagueTimeline3" ads-player
								 style="width: 100%; height: 8em; background-color: #ffeb80; text-align: center;">
                                Advertise Here
                            </div>
                        </div>
                        <div class="row" ng-repeat="post in postSectionThree">
                            <div class="col-md-4" style="padding-bottom: 1em; padding-top: 1em;">
                                <img ng-src="{{post.PictureUrl}}" style="width: 90%;">
                            </div>
                            <div class="col-md-8" style="padding-bottom: 1em;">
                                <div class="row">
                                    <label class="post-detail-title" style="font-size: 1.5em; cursor: pointer;" ng-click="goToArticle(post.PostId)">{{post.Title}}</label>
                                </div>
                                <div class="row">
                                    <label>
                                        <small class="text-muted">{{dateService.formatDDMMMYYYY(post.CreatedTime)}}</small>
                                        <small>|</small>
                                        <small style="color: orangered;">{{post.CategoryLabel}}</small>
                                    </label>
                                </div>
                                <div class="row">
                                    {{getPreviewArticleContent(post.Body)}}
                                </div>
                            </div>
                            <div class="col-md-12" style="background-color: lightgrey; height: 0.15em;"></div>
                        </div>
                        <div class="row">
                            <uib-pagination boundary-links="true" total-items="SearchQuery.TotalData" ng-model="SearchQuery.Page"
                                            ng-change="onPageChanged()" class="pagination-sm" previous-text="&lsaquo;"
                                            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                        <div class="row" style="margin-top: 1em;">
                            <div id="LeagueTimeline4" ads-player
								 style="width: 100%; height: 8em; background-color: #ffeb80; text-align: center;">
                                Advertise Here
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
