<div class="col-md-12" ng-controller="PostCtrl">
    <div class="row">
        <div class="wrapper wrapper-content" style="padding-top: 0px;">
            <div class="container">
                <h1>Add New Post</h1>
                <hr/>

                <div class="row show-grid">
                    <label>Title</label>

                    <div class="input-group" style="width:40%;">
                        <input type="text" class="form-control" ng-model="data.Title">
                    </div>
                </div>

                <div class="row show-grid">
                    <label>Body</label>

                    <div class="input-group">
                        <wysiwyg textarea-id="question"
                                 textarea-class="form-control"
                                 textarea-height="180px"
                                 textarea-name="textareaQuestion"
                                 textarea-required
                                 ng-model="data.Body"
                                 enable-bootstrap-title="true"
                                 textarea-menu="menu"
                                 disabled="disabled">
                        </wysiwyg>
                    </div>
                </div>

                <div class="row show-grid">
                    <label>Title Image</label>

                    <div class="input-group">
                        <div yk-file-uploader file-result="fileResult" pick-fn="onPickPicture(result)"></div>
                    </div>
                </div>

                <div class="row show-grid">
                    <label>Category</label>

                    <div class="input-group" style="width: 20%">
                        <select class="form-control"
                                ng-options="cat.CategoryId as cat.CategoryLabel for cat in categories"
                                ng-model="data.CategoryId">
                            <option value="">-- Select Category --</option>
                        </select>
                    </div>
                </div>

                <div class="row show-grid">
                    <label>League</label>

                    <div class="input-group" style="width: 20%">
                        <select class="form-control"
                                ng-options="league.LeagueId as league.LeagueLabel for league in leagues"
                                ng-model="data.LeagueId">
                            <option value="">-- Select League --</option>
                        </select>
                    </div>
                </div>

                <div class="row show-grid">
                    <label>Team</label>

                    <div class="input-group" style="width: 20%">
                        <select class="form-control" ng-options="team.TeamId as team.TeamLabel for team in teams | filter:{LeagueId: data.LeagueId}"
                                ng-model="data.TeamId">
                            <option value="">-- Select Team --</option>
                        </select>
                    </div>
                </div>

                <div class="row show-grid">
                    <label>Tags</label>

                    <div class="input-group" style="width: 25%">
                        <input type="text" tooltip-placement="top" uib-tooltip="Press enter to add new tag"
                               class="form-control"
                               ng-model="tagText" ng-enter="onAddTag(tagText)"/>
            <span class="input-group-btn"><button class="btn btn-primary" ng-click="onAddTag(tagText)">Add
            </button></span>
                    </div>
                    <div class="input-group" style="width: 50%">
                        <ul class="tag-list">
                            <li ng-repeat="tag in data.Tags" ng-dblclick="onDeleteTag($index)"
                                tooltip-placement="top" uib-tooltip="Double click to remove tag"><a>{{tag}}</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row show-grid">
                    <button class="btn btn-primary btn-lg" ng-click="onSavePost()"><i class="fa fa-save"></i>&nbsp;Publish
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

