<div>
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
        <h2 class="modal-title">Top Scorer</h2>
    </div>
    <div class="modal-body">
        <div class="row">
            <div>
                <div style="float: left; width: 50%">
                    <div style="margin-left: 100px;">
                        <label class="control-label">Add New</label>

                        <div>
                        </div>
                    </div>
                </div>
                <div style="float: left;">
                    <form class="form-horizontal">
                        <div>
                            <div style="float: left; width: 100px;">
                                <label style="margin-top: 5px;">League Code : </label>
                            </div>
                            <div style="float:left;">
                                <input type="text" class="form-control" ng-model="league.LeagueCode">
                            </div>
                        </div>
                        <br style="clear: both;"/>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="onSave()">Save changes</button>
    </div>
</div>
