<div>
    <!--<div class="modal-header">-->
    <!--<button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>-->
    <!--<h4 class="modal-title">Modal title</h4>-->
    <!--</div>-->
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                <h3>Welcome to YK-FOOTBALL</h3>

                <form class="m-t" role="form">
                    <div class="form-group">
                        <img src="/Web/img/facebook-connect-button.png"
                             style="width: 100%; height: 3em; cursor: pointer;"
                             ng-click="onExternalLogin()"/>
                    </div>
                    <div class="form-group">
                        <a>
                            <small>OR</small>
                        </a>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="user.userId" placeholder="Username"
                               required="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" ng-model="user.password" placeholder="Password"
                               required="">
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b" ng-click="onLogin()">Login
                    </button>

                    <a href="#">
                        <small>Forgot password?</small>
                    </a>
                </form>
                <p class="m-t">
                    <small>&copy; 2016</small>
                </p>
            </div>
        </div>
    </div>
    <!--<div class="modal-footer">-->
    <!--<button class="btn btn-default" ng-click="$dismiss()">Cancel</button>-->
    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
    <!--</div>-->
</div>
