<div>
	<div class="modal-header">
		<button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
		<h2 class="modal-title">Tag</h2>
	</div>
	<div class="modal-body">
        <div class="row">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-3">Tag Label : </label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="tag.TagLabel">
                    </div>
                </div>
            </form>
        </div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
		<button type="button" class="btn btn-primary" ng-click="onSave()">Save changes</button>
	</div>
</div>
