.post-detail-title{
    color: orangered;
    font-size: 2em;
}

.post-count{
    color: orangered;
    font-size: 1.2em;
}

.line-separator{
    background-color: orangered;
    height: 3px;
    position: relative;
}
